{% extends "base.html" %}

{% block title %}
Search Question Papers
{% endblock %}

{% block content %}
    <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Darkly</h1>
            <p class="lead">Flatly in night mode</p>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="list-group table-of-contents">
              <a class="list-group-item" href="#navbar">Navbar</a>

            </div>
          </div>
        </div>
    </div>
{% endblock %}