{% extends "base.html" %}

{% load portal_extras %}

{% block title %}
Search Question Papers
{% endblock %}

{% block header_content %}
    <h1>This is the repository to Question Papers for past exams held in India</h1>
    <p>Search by one of the options below, or enter your query in the Search box above</p>
    <div class="row">
        {% for item in itemslist %}
        <div class="col-lg-6 tb-pb-40 tb-plr">
            <div class="pull-left tb-icons">
                <i class="fa fa-university"></i>
            </div>
            <div class="tb-icons-content">
                <h4>{{ item.header }}</h4>
                <p><a class="list-group-item" href="{{ item.link }}">
                    {{ item.content }}
                </a></p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        <a href="#" class="btn tb-btn-bbg">View All Papers</a>
    </div>
{% endblock %}