{% extends "base.html" %}

{% load portal_extras %}
{% load bootstrap3 %}

{% block title %}
Login Page
{% endblock %}

{% block header_content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <h1>Login</h1>
    <p>Enter your login details below.</p>
{% endblock %}

{% block upper_mid_content %}
    {% if user.is_authenticated %}
        <p>You are already logged in!</p>
    {% else %}
  <form action="/url/to/submit/" role="form" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn tb-btn-bbg2">
         Submit
        </button>
    {% endbuttons %}
  </form>
    {% endif %}
{% endblock %}