<!DOCTYPE html>
{% load staticfiles %}
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">

</head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="http://ndl.iitkgp.ac.in/" class="navbar-brand"><img src="{% static "images/ndl-logo.png" %}" height="21" /></a>
          <a href="{{ applink }}/" class="navbar-brand">NDL QP</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="browse-by-property">Browse <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="browse-by-property">
                <li><a href="http://bootswatch.com/default/">All</a></li>
                <li class="divider"></li>
                <li><a href="http://bootswatch.com/cerulean/">By Year</a></li>
                <li><a href="http://bootswatch.com/cosmo/">By Subject</a></li>
                <li><a href="http://bootswatch.com/cyborg/">By Board</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="languages">Language <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="languages">
                <li><a href="http://bootswatch.com/cerulean/">English</a></li>
                <li><a href="http://bootswatch.com/cosmo/">Hindi</a></li>
                <li><a href="http://bootswatch.com/cyborg/">Bengali</a></li>
              </ul>
            </li>
            <li>
              <a href="http://bootswatch.com/help/">Help</a>
            </li>
            <li>
              <a href="http://news.bootswatch.com/">Blog</a>
            </li>


            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input class="form-control" placeholder="Search" type="text">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>

           </ul>

          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="login">Login <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="login">
                <li><a href="{{ applink }}/login/">Login</a></li>
                <li class="divider"></li>
                <li style="text-align: center" >New to the Website?</li>
                <li><a href="{{ applink }}/register/">Register</a></li>
              </ul>
            </li>

            <li><a href="{{ forumlink }}/" target="_blank">Forum</a></li>

          </ul>

        </div>
      </div>
    </div>


    <div class="container">

      {% block content %}{% endblock %}



      <footer>
        <div class="navbar-inverse navbar-fixed-bottom">
          <div class="container-fluid navbar-collapse collapse navbar-responsive-collapse">

            <ul class="nav navbar-nav navbar-right">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="http://news.bootswatch.com/" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
              <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
              <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="social-bar">Social <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="social-bar">
               <li><a href="https://twitter.com/bootswatch">Twitter</a></li>
              </ul>
              </li>
              <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
              <li><a href="http://bootswatch.com/help/#api">API</a></li>
              <li><a href="http://bootswatch.com/help/#support">Support</a></li>
            </ul>

          </div>
        </div>

      </footer>

    </div>


    <script src="{% static "js/jquery-1.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
  <script type="text/javascript">/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */</script>

</body></html>
