<!DOCTYPE html>
{% load staticfiles %}
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">

</head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="http://ndl.iitkgp.ac.in/" class="navbar-brand"><img src="{% static "images/ndl-logo.png" %}" height="21" /></a>
          <a href="http://bootswatch.com/" class="navbar-brand">NDL QP</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="http://bootswatch.com/default/">Default</a></li>
                <li class="divider"></li>
                <li><a href="http://bootswatch.com/cerulean/">Cerulean</a></li>
                <li><a href="http://bootswatch.com/cosmo/">Cosmo</a></li>
                <li><a href="http://bootswatch.com/cyborg/">Cyborg</a></li>
                <li><a href="http://bootswatch.com/darkly/">Darkly</a></li>
                <li><a href="http://bootswatch.com/flatly/">Flatly</a></li>
                <li><a href="http://bootswatch.com/journal/">Journal</a></li>
                <li><a href="http://bootswatch.com/lumen/">Lumen</a></li>
                <li><a href="http://bootswatch.com/paper/">Paper</a></li>
                <li><a href="http://bootswatch.com/readable/">Readable</a></li>
                <li><a href="http://bootswatch.com/sandstone/">Sandstone</a></li>
                <li><a href="http://bootswatch.com/simplex/">Simplex</a></li>
                <li><a href="http://bootswatch.com/slate/">Slate</a></li>
                <li><a href="http://bootswatch.com/spacelab/">Spacelab</a></li>
                <li><a href="http://bootswatch.com/superhero/">Superhero</a></li>
                <li><a href="http://bootswatch.com/united/">United</a></li>
                <li><a href="http://bootswatch.com/yeti/">Yeti</a></li>
              </ul>
            </li>
            <li>
              <a href="http://bootswatch.com/help/">Help</a>
            </li>
            <li>
              <a href="http://news.bootswatch.com/">Blog</a>
            </li>
          </ul>

          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input class="form-control" placeholder="Search" type="text">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="" target="_blank">Forum</a></li>

          </ul>

        </div>
      </div>
    </div>


    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Darkly</h1>
            <p class="lead">Flatly in night mode</p>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="list-group table-of-contents">
              <a class="list-group-item" href="#navbar">Navbar</a>

            </div>
          </div>
        </div>
      </div>




      <footer>
        <div class="row">
          <div class="col-lg-12">

            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="http://news.bootswatch.com/" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
              <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
              <li><a href="https://twitter.com/bootswatch">Twitter</a></li>
              <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
              <li><a href="http://bootswatch.com/help/#api">API</a></li>
              <li><a href="http://bootswatch.com/help/#support">Support</a></li>
            </ul>
            <p>Made by <a href="http://thomaspark.co/" rel="nofollow">Thomas Park</a>. Contact him at <a href="mailto:thomas@bootswatch.com">thomas@bootswatch.com</a>.</p>
            <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.</p>
            <p>Based on <a href="http://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>

          </div>
        </div>

      </footer>


    </div>


    <script src="{% static "js/jquery-1.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
  <script type="text/javascript">/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */</script>

</body></html>
