<!--

Formalize Template

AUTHOR
http://templatebaker.com/

LICENSE
http://templatebaker.com/license/

CREDITS
https://unsplash.com/

SUPPORT
info@templatebaker.com

-->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    {% include 'bootstrap-css.html' %}

    {% include 'templatebaker-css.html' %}

    {% include 'fonts.html' %}

    {% include 'misc-css.html' %}
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://ndl.iitkgp.ac.in/" class="navbar-brand page-scroll"><img style="height: inherit; padding-bottom: 0.3em;" src="{% static "images/ndl-logo.png" %}" /></a>
            <a class="navbar-brand page-scroll" href="{{ applink }}/">NDL QP</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a class="page-scroll" href="index.html">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Layouts <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="left-sidebar.html">Left Sidebar</a></li>
                        <li><a href="right-sidebar.html">Right Sidebar</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="no-sidebar.html">No Sidebar</a></li>
                    </ul>
                </li>
                <li><a href="components.html">Components</a></li>
                <li><a href="#" class="btn tb-btn-bbg2">Sign Up</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="tb-section-1">
    <div class="container">
        <div class="row tb-title">
            <div class="col-lg-12 text-center">
                <h1>Give (something) legal or formal status.</h1>
                <p>It was popularised in the 1960s  with the release of Letraset sheets containing Lorem</p>
                <div>
                    <a href="#" class="btn tb-btn-bbg">Our Tour</a>
                    <a href="#" class="btn tb-btn-bbg2">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <img src="{% static "images/tb-pic1.jpg" %}" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</div>

<section class="tb-section-2">
    <div class="container">
        <div class="row tb-title">
            <div class="col-lg-12 text-center">
                <h1>Electronic typesetting</h1>
                <p>But also the leap into electronic typesetting, remaining essentially unchanged</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center tb-col">
                <i class="fa fa-cloud-upload fa-4x tb-fa"></i>
                <h3>dummy text ever since the</h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            </div>
            <div class="col-lg-6 text-center tb-col">
                <i class="fa fa-paper-plane fa-4x tb-fa"></i>
                <h3>Letraset sheets containing Lorem</h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
            </div>
        </div>
    </div>
</section>

<section class="tb-section-3">
    <div class="container">
        <div class="row tb-title">
            <div class="col-lg-12 text-center">
                <h1>Aldus PageMaker including</h1>
                <p>It has survived not only five centuries, but also the lea</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center tb-col tb-pb-50">
                <img src="img/tb-thumb1.jpg" class="img-responsive" alt="">
                <h2>PageMaker</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
            </div>
            <div class="col-lg-6 text-center tb-col tb-pb-50">
                <img src="img/tb-thumb2.jpg" class="img-responsive" alt="">
                <h2>software</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
            </div>
            <div class="col-lg-6 text-center tb-col tb-pb-50">
                <img src="img/tb-thumb3.jpg" class="img-responsive" alt="">
                <h2>essentially</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
            </div>
            <div class="col-lg-6 text-center tb-col tb-pb-50">
                <img src="img/tb-thumb4.jpg" class="img-responsive" alt="">
                <h2>passages</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
            </div>
            <div class="col-lg-12 text-center">
                <a href="#" class="btn tb-btn-bbg">See More</a>
            </div>
        </div>
    </div>
</section>

<section class="tb-section-4">
    <div class="container">
        <div class="row tb-title">
            <div class="col-lg-12 text-center">
                <h1>Essentially unchanged</h1>
                <p>Make a type specimen book. It has survived not only five centuries</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 tb-pb-40 tb-plr">
                <div class="pull-left tb-icons">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="tb-icons-content">
                    <h4>It was popularised</h4>
                    <p>Make a type specimen book. It has survived not only five centuries</p>
                </div>
            </div>
            <div class="col-lg-6 tb-pb-40 tb-plr">
                <div class="pull-left tb-icons">
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="tb-icons-content">
                    <h4>printer took a galley</h4>
                    <p>Make a type specimen book. It has survived not only five centuries</p>
                </div>
            </div>
            <div class="col-lg-6 tb-pb-40 tb-plr">
                <div class="pull-left tb-icons">
                    <i class="fa fa-heart"></i>
                </div>
                <div class="tb-icons-content">
                    <h4>Aldus PageMaker </h4>
                    <p>Make a type specimen book. It has survived not only five centuries</p>
                </div>
            </div>
            <div class="col-lg-6 tb-pb-40 tb-plr">
                <div class="pull-left tb-icons">
                    <i class="fa fa-suitcase"></i>
                </div>
                <div class="tb-icons-content">
                    <h4>essentially unchanged</h4>
                    <p>Make a type specimen book. It has survived not only five centuries</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tb-section-5">
    <div class="container">
        <div class="row tb-title">
            <div class="col-lg-12 text-center">
                <h1>Survived not only five centuries</h1>
                <p>Lorem Ipsum passages, and more recently with desktop publishing software</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4 tb-pb-40 text-center">
                <div class="plan" data-scrollreveal="enter over 1s" data-scrollreveal-initialized="true" data-scrollreveal-complete="true">
                    <div class="plan-title">
                        <h2>Bronze</h2>
                        <h3><sup>$</sup>699<sub>/ month</sub></h3>
                    </div>
                    <ul class="plan-features">
                        <li><strong>Lorem Ipsum is simply</strong></li>
                        <li><strong>Dummy text of the printing</strong></li>
                        <li>And typesetting industry</li>
                        <li>Ipsum has been the</li>
                        <li>Standard dummy text </li>
                        <li>Ever since the 1500s</li>
                    </ul>
                    <div class="plan-cta">
                        <p class="plan-buy"><a href="#" class="btn tb-btn-bbg">Get Started</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 tb-pb-40 text-center">
                <div class="plan featured" data-scrollreveal="enter over 1s" data-scrollreveal-initialized="true" data-scrollreveal-complete="true">
                    <div class="plan-title">
                        <h2>Silver</h2>
                        <h3><sup>$</sup>999<sub>/ month</sub></h3>
                    </div>
                    <ul class="plan-features">
                        <li><strong>Lorem Ipsum is simply</strong></li>
                        <li><strong>Dummy text of the printing</strong></li>
                        <li><strong>And typesetting industry</strong></li>
                        <li><strong>Ipsum has been the</strong></li>
                        <li>Standard dummy text </li>
                        <li>Ever since the 1500s</li>
                    </ul>
                    <div class="plan-cta">
                        <p class="plan-buy"><a href="#" class="btn tb-btn-bbg">Get Started</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 tb-pb-40 text-center">
                <div class="plan" data-scrollreveal="enter over 1s" data-scrollreveal-initialized="true" data-scrollreveal-complete="true">
                    <div class="plan-title">
                        <h2>Gold</h2>
                        <h3><sup>$</sup>1299<sub>/ month</sub></h3>
                    </div>
                    <ul class="plan-features">
                        <li><strong>Lorem Ipsum is simply</strong></li>
                        <li><strong>Dummy text of the printing</strong></li>
                        <li><strong>And typesetting industry</strong></li>
                        <li><strong>Ipsum has been the</strong></li>
                        <li><strong>Standard dummy text</strong></li>
                        <li><strong>Ever since the 1500s</strong></li>
                    </ul>
                    <div class="plan-cta">
                        <p class="plan-buy"><a href="#" class="btn tb-btn-bbg">Get Started</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tb-section-4">
    <div class="container">
        <div class="row tb-title">
            <div class="col-lg-12 text-center">
                <h1>Contact us</h1>
                <p>Make a type specimen book. It has survived not only five centuries</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center tb-pb-40 tb-plr">
                <form>
                    <input type="text" class="form-control tb-mb-5" placeholder="Your Name">
                    <input type="text" class="form-control tb-mb-5" placeholder="Your E-mail">
                    <textarea class="form-control tb-mb-5" rows="5" placeholder="Your Description"></textarea>
                    <a href="#" class="btn tb-btn-bbg">Send message</a>
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <ul class="list-inline">
                    <li>&copy; Formalize</li>
                    <li class="tb-copyright">Proudly created by: <a target="_blank" rel="nofollow" href="http://www.templatebaker.com">TemplateBaker</a></li>
                </ul>
                <ul class="list-inline tb-social-icons">
                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                    <li><a href=""><i class="fa fa-behance"></i></a></li>
                    <li><a href=""><i class="fa fa-pinterest-p"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!-- Include all compiled plugins (below), or include individual files as needed -->

{% include 'bootstrap-js.html' %}

{% include 'animated-header-js.html' %}

</body>
</html>